root = true

[*]
end_of_line = lf
insert_final_newline = false
charset = utf-8
indent_style = space
indent_size = 4

[*.jinja]
insert_final_newline = false

[Dockerfile]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2

[*.{yml,yaml,yml.jinja,yaml.jinja}]
indent_style = space
indent_size = 2

[*.tsv]
indent_style = tab

[*.tsv.jinja]
indent_style = tab

[*.rst]
insert_final_newline = false
